<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61674290763-8l5dbg94s9mgd4mema21lg81hq3hoeba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61674290763-8l5dbg94s9mgd4mema21lg81hq3hoeba</string>
	<key>API_KEY</key>
	<string>AIzaSyBcp_FrLYO91n7U6QZblif4WCbBfbYyYVY</string>
	<key>GCM_SENDER_ID</key>
	<string>61674290763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.oes.appkid</string>
	<key>PROJECT_ID</key>
	<string>appkid-259eb</string>
	<key>STORAGE_BUCKET</key>
	<string>appkid-259eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61674290763:ios:3f371299d33674b57b17ce</string>
</dict>
</plist>